/* link to screen resolution site I used https://www.rapidtables.com/web/dev/screen-resolution-statistics.html */

/* I'm not quite sure if best practice is to keep the grid the same after making changes for screen resolution, but this did not seem to break it in any way */

/* body setup */
body{

  /* size */
  width: 100vw;
  height: 100vh;
  margin: 0px;
  /* positioning */
  z-index: 0;
  /* grid setup */
  display: grid;
  grid-template-columns: 384px 1fr 1fr 1fr;
  grid-template-rows: 100px 100px minmax(600px, auto) minmax(600px, auto)  1em;
  grid-gap: 1em;
  /* grid elements positioning */
  grid-template-areas:
  " . . . . "
  " . . . . "
  " bodyMember bodyMember bodyMember . "
  " bodyTask bodyTask bodyTask . "
  " . . . . ";
  /* style */
  background-color: steelblue;

}

/* main container setup */
.MainContainer{

  /* size */
  margin: 0px;
  /* positioning */
  z-index: 0;
  /* grid size */
  grid-column: 1/5;
  grid-row: 1/6;
  /* grid setup */
  display: grid;
  grid-template-columns: 384px 1fr 1fr 1fr;
  grid-template-rows: 100px 100px minmax(600px, auto) minmax(600px, auto) 1em;
  grid-gap: 1em;
  /* grid elements positioning */
  grid-template-areas:
  "mainContainerHeader mainContainerHeader mainContainerHeader . "
  "mainContainerMembers mainContainerMembers mainContainerMembers . "
  "mainContainerNavBar mainContainerNavBar mainContainerNavBar . "
  "mainContainerTask mainContainerTask mainContainerTask . "
  " . . . . ";
  /* style */
  background-color: lightblue;

}

@media screen and (min-width: 815px) {

  /* body setup */
  body{

    /* size */
    width: 100vw;
    height: 100vh;
    margin: 0px;
    /* positioning */
    z-index: 0;
    /* grid setup */
    display: grid;
    grid-template-columns: 384px 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 1fr 1fr 1em;
    grid-gap: 1em;
    /* grid elements positioning */
    grid-template-areas:
    " . . . . "
    " . . . . "
    " . bodyTask bodyMember ."
    " . . . . "
    " . . . . ";

    /* style */
    background-color: lightblue;

  }

  /* main container setup */
  .MainContainer{

    /* size */
    margin: 0px;
    /* positioning */
    z-index: 0;
    /* grid size */
    grid-column: 1/5;
    grid-row: 1/6;
    /* grid setup */
    display: grid;
    grid-template-columns: 384px 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 1fr 1fr 1em;
    grid-gap: 1em;
    /* grid elements positioning */
    grid-template-areas:
    "mainContainerHeader mainContainerHeader mainContainerHeader mainContainerHeader "
    "mainContainerNavBar mainContainerMembers mainContainerMembers ."
    "mainContainerNavBar mainContainerTask mainContainerTask ."
    "mainContainerNavBar mainContainerTask mainContainerTask . "
    "mainContainerNavBar . . . ";
    /* style */
    background-color: whitesmoke;

  }
}

/*-------------------------------------------------------*/
/* tags */

h1{

  	pointer-events: none;

}

/*-------------------------------------------------------*/
/* id elements */
/*  for the sake of the sanity of the next person working on this, please do not mix "body grid elements" and "main container grid elements" */

/* body grid elements */

/* task container elements */
#TaskFormContainer{

    /* positioning */
    z-index: 1;
    /* grid area */
    grid-area: bodyTask;
    /* style */
    display: none;
    text-align: center;
    background-color: white;
    border:2px solid black;
    height: 225px;
    width:240px;
    box-shadow: 3px 3px 3px #00000077;
}

#editTaskFormContainer{

    /* positioning */
    position: absolute;
    z-index: 1;
    /* style */
    display: none;
    text-align: center;
    background-color: white;
    border:2px solid black;
    height: 200px;
    width:240px;
    box-shadow: 3px 3px 3px #00000077;
}

/* member form elements */
#MemberFormContainer{

    /* positioning */
    z-index: 1;
    /* grid area */
    grid-area: bodyMember;
    /* style */
    display: none;
    text-align: center;
    background-color: white;
    border:2px solid black;
    width: 200px;
    height: 200px;
    box-shadow: 3px 3px 3px #00000077;

}

/* main container grid elements */

/* header elements */
#Header{

    /* positioning */
    z-index: 0;
    /* grid area */
    grid-area: mainContainerHeader;
    /* grid setup */
    display: grid;
    grid-template-columns: 420px minmax(0, auto);
    grid-template-rows: 90px;
    /* style */
    border-style: solid;
    background-color: wheat;

}

#ProjectName{

    /* positioning */
    z-index: 0;
    /* grid positioning */
    grid-column: 1/2;
    grid-row: 1/2;
    /* size */
    margin: 15px;
    /* style */
    border-style: solid;
    border-width: thin;
    box-shadow: 2px 2px 8px;
    background-color: beige;

}

/* NavigationBar elements */
#NavigationBar{

    /* positioning */
    z-index: 0;
    /* grid area */
    grid-area: mainContainerNavBar;
    /* grid setup */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr;
    /* style */
    border-style: solid;
    background-color: wheat;

}
#Project{

    /* positioning */
    z-index: 1;
    /* size */
    margin: 10px;
    /* grid positioning */
    grid-column: 1/2;
    grid-row: 1/2;
    /* style */
    border-style: solid;
    border-width: thin;
    box-shadow: 2px 2px 8px;
    background-color: beige;
    text-align: center;

}
#NavBarpage1{

    /* positioning */
    z-index: 0;
    /* size */
    margin: 15px;
    /* grid positioning */
    grid-column: 1/3;
    grid-row: 2/3;
    /* style */
    border-style: solid;
    border-width: thin;
    box-shadow: 2px 2px 8px;
    background-color: cadetblue;

}
#comments{

    /* positioning */
    z-index: 1;
    /* size */
    margin: 10px;
    /* grid positioning */
    grid-column: 2/3;
    grid-row: 1/2;
    /* style */
    border-style:solid;
    border-width: thin;
    box-shadow: 2px 2px 8px;
    background-color: beige;
    text-align: center;

}
#NavBarpage2{

    /* positioning */
    z-index: 0;
    /* size */
    margin: 15px;
    /* grid setup */
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 100px;
    /* grid positioning */
    grid-column: 1/3;
    grid-row: 2/3;
    /* style */
    overflow: hidden;
    border-style: solid;
    border-width: thin;
    box-shadow: 2px 2px 8px;
    background-color: beige;

}
#messageList{

    /* positioning */
    z-index: 1;
    /* grid sizing */
    grid-column: 1/4;
    grid-row: 1/2;
    /* style */
    overflow-y: scroll;

}
#comment{

    /* positioning */
    z-index: 1;
    /* grid positioning */
    grid-column: 2/3;
    grid-row: 3/4;

}

#memberSelect{

    /* size */
    width: 100%;

}

#taskSelect{

    /* size */
    width: 100%;

}

/* member elements */
/* this is sepparate from the "member form elements" */
#MemberContainer{

    /* positioning */
    z-index: 1;
    /* grid setup */
    display: grid;
    grid-template-columns: repeat(3, 1fr) 100px;
    grid-auto-rows: 1fr;
    /* grid positioning */
    grid-area: mainContainerMembers;
    /* style */
    border-style: hidden;

}
#newMemberDiv{

  /* grid size */
    grid-column: 1/4;
    grid-row: 1/2;
    /* style */
    overflow-y: scroll;


}
#addNewMemberButton{

    /* size */
    margin: 5px;
    /* grid size */
    grid-column: 4/5;
    grid-row: 1/2;
    /* style */
    border-radius: 50%;
    background-color: lawngreen;
    border-width: thin;
    box-shadow: 2px 2px 5px;

}

/* TaskContainer elements */
#TaskContainer{

    /* positioning */
    z-index: 0;
    /* grid setup */
    display: grid;
    grid-auto-columns: 250px;
    grid-template-rows: 25px 1fr;
    /* grid area */
    grid-area: mainContainerTask;
    /* style */
    overflow-x: scroll;
    border-style: hidden;

}
#openTaskCreatorButton{
    /* position */
    z-index: 0;
    /* grid positioning */
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: lawngreen;
}
