/* body setup */
body{

  /* size */
  width: 100vw;
  height: 100vh;
  margin: 0px;
  /* positioning */
  z-index: 0;
  /* grid setup */
  display: grid;
  grid-template-columns: 430px 430px 430px minmax(0px,10%);
  grid-template-rows: 100px 100px 1fr 1em;
  grid-gap: 1em;
  /* grid elements positioning */
  grid-template-areas:
  ". . . . "
  ". . . . "
  " . bodyMember bodyTask . "
  ". . . . ";
  /* style */
  background-color: skyblue;

}

/* main container setup */
.MainContainer{

    /* size */
    margin: 0px;
    /* positioning */
    z-index: 0;
    /* grid size */
    grid-column: 1/5;
    grid-row: 1/5;
    /* grid setup */
    display: grid;
    grid-template-columns: 430px 430px 430px minmax(0px,10%);
    grid-template-rows: 100px 100px 1fr 1em;
    grid-gap: 1em;
    /* grid elements positioning */
    grid-template-areas:
    "mainContainerHeader mainContainerHeader mainContainerHeader mainContainerHeader"
    "mainContainerNavBar . . ."
    "mainContainerNavBar mainContainerTask mainContainerTask ."
    "mainContainerNavBar . . .";
    /* style */
    background-color: skyblue;

}

/*-------------------------------------------------------*/
/* tags */

h1{

  	pointer-events: none;

}

/*-------------------------------------------------------*/
/* id elements */
/*  for the sake of the sanity of the next person working on this, please do not mix "body grid elements" and "main container grid elements" */

/* body grid elements */

/* task container elements */
#TaskFormContainer{

    /* positioning */
    z-index: 1;
    /* grid area */
    grid-area: bodyTask;
    /* style */
    display: none;
    text-align: center;
    background-color: white;
    border:2px solid black;

}



/* member form elements */
#MemberFormConainer{

    /* positioning */
    z-index: 1;
    /* grid area */
    grid-area: bodyMember;
    /* style */
    display: none;
    text-align: center;
    background-color: white;
    border:2px solid black;

}

/* main container grid elements */

/* header elements */
#Header{

    /* positioning */
    z-index: 0;
    /* grid area */
    grid-area: mainContainerHeader;
    /* grid setup */
    display: grid;
    grid-template-columns: 420px minmax(0, auto);
    grid-template-rows: 90px;
    /* style */
    border-style: solid;
    background-color: dodgerblue;

}

#ProjectName{

    /* positioning */
    z-index: 0;
    /* grid area */
    grid-area: mainContainerProjectname;
    /* grid positioning */
    grid-column: 1/2;
    grid-row: 1/2;
    /* size */
    margin: 5px;
    /* style */
    border-style: dotted;

}

/* NavigationBar elements */
#NavigationBar{

    /* positioning */
    z-index: 0;
    /* grid area */
    grid-area: mainContainerNavBar;
    /* grid setup */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 1fr 200px;
    /* style */
    border-style: solid;
    background-color: grey;

}
#Project{

    /* positioning */
    z-index: 1;
    /* size */
    margin: 10px;
    /* grid positioning */
    grid-column: 1/2;
    grid-row: 1/2;
    /* style */
    border-style: solid;
    background-color: dimgrey;
    text-align: center;

}
#NavBarpage1{

    /* positioning */
    z-index: 0;
    /* size */
    margin: 15px;
    /* grid positioning */
    grid-column: 1/3;
    grid-row: 2/3;
    /* style */
    border-style: dotted;
    background-color: aqua;

}
#comments{

    /* positioning */
    z-index: 1;
    /* size */
    margin: 10px;
    /* grid positioning */
    grid-column: 2/3;
    grid-row: 1/2;
    /* style */
    border-style:solid;
    background-color: dimgrey;
    text-align: center;

}
#NavBarpage2{

    /* positioning */
    z-index: 0;
    /* size */
    margin: 15px;
    /* grid positioning */
    grid-column: 1/3;
    grid-row: 2/3;
    /* style */
    border-style: solid;
    background-color: blueviolet;

}
#comment{

    /* positioning */
    z-index: 1;
    /* grid positioning */
    grid-column: 1/3;
    grid-row: 3/4;

}

/* member elements */
/* this is sepparate from the "member form elements" */
#MemberContainer{

    /* positioning */
    z-index: 1;
    /* grid setup */
    display: grid;
    grid-template-columns: repeat(3, 1fr) 90px;
    grid-auto-rows: 1fr;
    /* grid positioning */
    grid-column: 2/3;
    grid-row: 2/3;
    /* style */
    border-style: solid;
    background-color: cornflowerblue;

}
#newMemberDiv{

  /* grid size */
    grid-column: 1/3;
    grid-row: 1/2;
    /* style */
    overflow: scroll;

}
#addNewMemberButton{

    /* size */
    margin: 5px;
    /* grid size */
    grid-column: 4/5;
    grid-row: 1/2;
    /* style */
    border-radius: 50%;

}

/* TaskContainer elements */
#TaskContainer{

    /* positioning */
    z-index: 0;
    /* grid setup */
    display: grid;
    grid-auto-columns: 200px;
    grid-template-rows: 25px 1fr;
    grid-column-gap: 1em;
    /* grid area */
    grid-area: mainContainerTask;
    /* style */
    border-style: dotted;

}
#openTaskCreatorButton{
    /* position */
    z-index: 0;
    /* grid positioning */
    grid-column: 1/2;
    grid-row: 1/2;
}
