.MainContainer{

    height: 1080px;
    width: 1920px;
    border-style: solid;
    position: relative;
    background-color: skyblue;


}

h1{
  	pointer-events: none;
}

#Header{

    height: 150px;
    width: 1915px;
    border-style: solid;
    position: absolute;
    background-color: dodgerblue;

}

#ProjectName{

    height: 110px;
    width: 430px;
    border-style: dotted;
    position: absolute;
    top: 15px;
    left: 10px;

}

#NavigationBar{

    width: 450px;
    height: 915px;
    top: 155px;
    border-style: solid;
    position: absolute;
    background-color: grey;

}

#NavBarpage1{

    width: 400px;
    height: 740px;
    border-style: dotted;
    top: 150px;
    left: 20px;
    position: absolute;
    background-color: aqua;

}

#NavBarpage2{

    width: 400px;
    height: 740px;
    border-style: dotted;
    top: 150px;
    left: 20px;
    position: absolute;
    background-color: blueviolet;

}

#Project{

    width: 200px;
    height: 100px;;
    border-style: solid;
    position: absolute;
    top: 10px;
    left: 8px;
    background-color: dimgrey;

}

#ProjectButton{

    top: 10px;
    left: 40px;
    position: absolute;

}

#Comments{

    width: 200px;
    height: 100px;
    border-style:solid;
    position: absolute;
    top: 10px;
    left: 230px;
    background-color: dimgrey;

}

#CommentsButton{
    top: 10px;
    left: 30px;
    position: absolute;
}

#TaskContainer{

    height: 650px;
    width: 1430px;
    left: 470px;
    top: 410px;
    border-style: dotted;
    position: absolute;
}

#MemberContainer{

    height: 220px;
    width: 600px;
    top: 170px;
    left: 470px;
    border-style: solid;
    position: absolute;
    background-color: cornflowerblue;

}

#TeamMember{

    height: 190px;
    width: 150px;
    top: 20px;
    left: 20px;
    border-style: hidden;
    position: absolute;

}

#MemberLogo{

    height: 100px;
    width: 100px;
    top: 10px;
    left: 20px;
    position: absolute;
    border-style: solid;
    border-radius: 50%;
    background-color: aliceblue;

}

#MemberName{
    top: 110px;
    left: 35px;
    position: absolute;
}

#TaskFormContainer{
    display: none;
    position: absolute;
    width:800px;
    height:400px;
    text-align: center;
    z-index: 3;
    left: 50%;
    margin-left: -400px;
    top: 50%;
    margin-top: -200px;
    background-color: white;
    border:2px solid black;
}
#TaskFormContainer input{
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 10px;
}
#TaskFormContainer h4{
    padding-top:20px;
}
#exitTaskFormButton{
    position: absolute;
    top: 0px;
    right: 0px;
    width:50px;
    height:50px;
}
